.wrapper {
  max-width: 736px;
  margin: auto;
  margin-top: 20px;
  padding: 0 30px;

  h1 {
    font-size: 24px;
    color: var(--gray-200);
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    color: var(--gray-200);
    line-height: 160%;
  }
}

.wrapperBtn {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  button {
    width: 160px;
    padding: 8px 10px;
    font-weight: 700;
    background: var(--blue-dark);
    border-radius: 8px;
    border: none;
    color: var(--gray-100)
  }
  button:hover {
    background: var(--blue-darker);
  }
}